#### PLUGIN MODS ####
# Unused folders
LookOutsidePluginMods/audio
LookOutsidePluginMods/css
LookOutsidePluginMods/effects
LookOutsidePluginMods/fonts
LookOutsidePluginMods/icon
LookOutsidePluginMods/img
LookOutsidePluginMods/lib
LookOutsidePluginMods/locales
LookOutsidePluginMods/movies
LookOutsidePluginMods/save
LookOutsidePluginMods/swiftshader

# Unused files
LookOutsidePluginMods/*

# Project Files
LookOutsidePluginMods/js/*
!LookOutsidePluginMods/js
!LookOutsidePluginMods/js/plugins.js
LookOutsidePluginMods/js/plugins/*
!LookOutsidePluginMods/js/plugins
!LookOutsidePluginMods/js/plugins/WauLau*
LookOutsidePluginMods/data/*
!LookOutsidePluginMods/data
!LookOutsidePluginMods/data/WauLau*

#### Music Mod ####
# Unused folders
LookOutsideMusicMod/audio/*
LookOutsideMusicMod/js
LookOutsideMusicMod/css
LookOutsideMusicMod/effects
LookOutsideMusicMod/fonts
LookOutsideMusicMod/icon
LookOutsideMusicMod/img
LookOutsideMusicMod/lib
LookOutsideMusicMod/locales
LookOutsideMusicMod/movies
LookOutsideMusicMod/save
LookOutsideMusicMod/swiftshader

# Unused files
LookOutsideMusicMod/*

# Project Files
LookOutsideMusicMod/js/*
!LookOutsideMusicMod/js
!LookOutsideMusicMod/js/plugins.js
LookOutsideMusicMod/js/plugins/*
!LookOutsideMusicMod/js/plugins
!LookOutsideMusicMod/js/plugins/WauLau*
!LookOutsideMusicMod/data
LookOutsideMusicMod/data/MapInfos.json
!LookOutsideMusicMod/audio
!LookOutsideMusicMod/audio/bgm
LookOutsideMusicMod/audio/bgm/*.ogg
LookOutsideMusicMod/audio/bgm/*.ogg_
!LookOutsideMusicMod/audio/bgm/*_VaporWave.ogg
!LookOutsideMusicMod/audio/bgm/*_HorrorOST.ogg
!LookOutsideMusicMod/audio/bgs
LookOutsideMusicMod/audio/bgs/*.ogg
LookOutsideMusicMod/audio/bgs/*.ogg_
!LookOutsideMusicMod/audio/bgs/*_VaporWave.ogg
!LookOutsideMusicMod/audio/bgs/*_HorrorOST.ogg

