# Unused folders
game/audio
game/css
game/effects
game/fonts
game/icon
game/img
game/lib
game/locales
game/movies
game/save
game/swiftshader

# Unused files
game/*

# Project Files
game/js/*
!game/js
!game/js/plugins.js
game/js/plugins/*
!game/js/plugins
!game/js/plugins/WauLau*
!game/js/plugins/MOD_*


game/data/*
!game/data
!game/data/WauLau*


