# Unused folders
/audio
/css
/data
/effects
/fonts
/icon
/img
/lib
/locales
/movies
/save
/swiftshader

# Unused files
*

# Project Files
!/js
!/js/plugins*
!/js/plugins/WauLau*

!claude.md

!/prettier